## Install Software

In [1]:
!conda install --yes --quiet python-snappy
!pip install --quiet git+https://github.com/catalyst-cooperative/pudl.git@sprint27
!cp ~/shared/shared-pudl.yml ~/.pudl.yml

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [11]:
import pudl
import sqlalchemy as sa
import pandas as pd
import numpy as np

In [2]:
pudl_settings = pudl.workspace.setup.get_defaults()
ferc1_engine = sa.create_engine(pudl_settings['ferc1_db'])
pudl_engine = sa.create_engine(pudl_settings['pudl_db'])
pudl_out = pudl.output.pudltabl.PudlTabl(pudl_engine=pudl_engine)

In [5]:
frc_eia923 = pudl_out.frc_eia923()
frc_eia923.memory_usage(deep=True).sum()/(1024*1024)

465.53797340393066

In [4]:
gens_eia860 = pudl_out.gens_eia860()
gens_eia860.memory_usage(deep=True).sum()/(1024*1024)

795.9915409088135

In [39]:
pudl_tables = (
    pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';", pudl_engine)
    .name.to_list()
)
display(pudl_tables)
random_table = np.random.choice(pudl_tables)
print(f"""
======================================================================
Random Table: {random_table}
======================================================================
""")
pd.read_sql(f"PRAGMA table_info({random_table});", pudl_engine)

['coalmine_eia923',
 'plants_entity_eia',
 'utilities_entity_eia',
 'fuel_type_eia923',
 'prime_movers_eia923',
 'fuel_type_aer_eia923',
 'energy_source_eia923',
 'transport_modes_eia923',
 'plants_pudl',
 'utilities_pudl',
 'purchased_power_ferc1',
 'ferc_accounts',
 'ferc_depreciation_lines',
 'plants_eia860',
 'utilities_eia860',
 'generation_fuel_eia923',
 'boiler_fuel_eia923',
 'fuel_receipts_costs_eia923',
 'generators_entity_eia',
 'boilers_entity_eia',
 'plants_eia',
 'utilities_eia',
 'utility_plant_assn',
 'utilities_ferc1',
 'ownership_eia860',
 'generators_eia860',
 'boiler_generator_assn_eia860',
 'generation_eia923',
 'plant_in_service_ferc1',
 'plants_ferc1',
 'fuel_ferc1',
 'plants_steam_ferc1',
 'plants_small_ferc1',
 'plants_hydro_ferc1',
 'plants_pumped_storage_ferc1']

======================================================================
Random Table: plants_small_ferc1
======================================================================

    cid                 name     type  notnull dflt_value  pk
0     0                   id  INTEGER        1       None   1
1     1            record_id     TEXT        0       None   0
2     2     utility_id_ferc1  INTEGER        0       None   0
3     3          report_year  INTEGER        0       None   0
4     4  plant_name_original     TEXT        0       None   0
5     5     plant_name_ferc1     TEXT        0       None   0
6     6           plant_type     TEXT        0       None   0
7     7      ferc_license_id  INTEGER        0       None   0
8     8    construction_year  INTEGER        0       None   0
9     9          capacity_mw    FLOAT        0       None   0
10   10       peak_demand_mw    FLOAT        0       None   0
11   11   net_generation_mwh    FLOAT        0       None   0
12   12  total_cost_of_plant    FLOAT        0       None   0
13   13         capex_per_mw    FLOAT        0       None   0
14   14           opex_total    FLOAT        0       None   0
15   15            opex_fuel    FLOAT        0       None   0
16   16     opex_maintenance    FLOAT        0       None   0
17   17            fuel_type     TEXT        0       None   0
18   18  fuel_cost_per_mmbtu    FLOAT        0       None   0