# Inspecting `raw_eia923__byproduct_disposition`

## Setup

In [ ]:
import os
from dagster import AssetKey
from pudl.etl import defs
from pudl.helpers import fix_eia_na
import pandas as pd

assert os.environ.get("DAGSTER_HOME"), (
    "The DAGSTER_HOME env var is not set so dagster won't be able to find the assets."
    "Set the DAGSTER_HOME env var in this notebook or kill the jupyter server and set"
    " the DAGSTER_HOME env var in your terminal and relaunch jupyter."
)

asset_key = "raw_eia923__byproduct_disposition"
df = defs.load_asset_value(AssetKey(asset_key))

## Code Snippets

### Code Snippet 1

Shows the messiness of the `byproducts_to_report` column. It is not standardized because the 'Y' and 'N' columns do not align with their meaning. There are 'Y' rows with byproduct values reported and 'N' rows with no byproduct values reported.

In [ ]:
df = fix_eia_na(df)

value_cols = [
    'disposal_landfill_1000_tons', 'disposal_offsite_1000_tons', 'disposal_ponds_1000_tons', 'sold_1000_tons_or_mmbtu',
    'stored_offsite_1000_tons', 'stored_onsite_1000_tons', 'total_disposal_1000_tons', 'used_offsite_1000_tons', 'used_onsite_1000_tons',
]
df['has_byproduct'] = df[value_cols].notna().any(axis=1)
(
    df
    .groupby(['plant_id_eia', 'report_year', 'byproducts_to_report'])['has_byproduct']
    .any()
    .reset_index()
    .drop(columns=['report_year'])
    .groupby(['byproducts_to_report', 'has_byproduct'])
    .count()
)

### Code Snippet 2

Shows the NA byproduct_description rows, which are also the only duplicates of the `report_year`, `plant_id_eia`, and `byproduct_description` primary key columns.

In [ ]:
nulls = df[df[["report_year", "plant_id_eia", "byproduct_description"]].isnull().any(axis=1)]
nulls

In [ ]:
null_descriptions = df["byproduct_description"].isna().sum()

In [ ]:
len(nulls)

In [ ]:
if null_descriptions == 18:
    print(True)

## Scratch Work

Cleaning steps gathered from inspecting the data in this notebook:
1. Use fix_eia_na. There are periods that should be nulls
2. Remove duplicates based on report_year, plant_id_eia, and byproduct description. Only 9 duplicate records
3. Related, those 9 duplicates, representing 18 rows, have no byproduct description or values. They can be filtered from the data.
4. Drop the `early_release` column -- there are no values
5. Drop the `data_maturity` column -- there is only one value ("final") for all records.
6. Add constraints to `byproduct_description` (10 unique values)
7. Add constraints to `byproducts_to_report` (2 unique values, null allowed)


Questions arised from inspecting:
1. What can be interpreted from the data when `byproducts_to_report` is null?
2. Is there a standard unit conversion for these? Units are in 1000 tons and mmbtu or 1000 tons.

#### Fix NA

In [ ]:
from pudl.helpers import fix_eia_na, fix_boolean_columns

In [ ]:
df = (
    fix_eia_na(df)
    .pipe(fix_boolean_columns, ["byproducts_to_report"])
)

#### Value Counts

In [ ]:
df.count()

In [ ]:
df["byproducts_to_report"].value_counts()

In [ ]:
df["byproduct_description"].value_counts()

In [ ]:
df["data_maturity"].value_counts()

In [ ]:
df["report_year"].value_counts().sort_index()

In [ ]:
df.describe(include=['object', 'category'])

### Check for Duplicates

In [ ]:

unique_by = ["report_year", "plant_id_eia", "byproduct_description"]
duplicates = df.duplicated(subset=unique_by, keep=False)

print(df[duplicates])

### Check NULLs

In [ ]:
df.isnull().sum()

### Check Numeric

In [ ]:
df.describe()

### Scratch Transform

In [ ]:
import pandas as pd
import pudl
from pudl.metadata import PUDL_PACKAGE

df = defs.load_asset_value(AssetKey(asset_key))

def _core_eia923__byproduct_disposition(
    raw_eia923__byproduct_disposition: pd.DataFrame,
) -> pd.DataFrame:
    """Transforms the eia923__byproduct_disposition table.

    Transformations include:

    * Replace . values with NA
    * Drop rows with NA byproduct_description
        * This also removes all duplicates based on report_year, plant_id_eia, and byproduct_description
    * Drop early_release column with no data values

    Args:
        raw_eia923__byproduct_disposition: The raw ``raw_eia923__byproduct_disposition`` dataframe.

    Returns:
        Cleaned ``core_eia923__byproduct_disposition`` dataframe ready for harvesting.
    """
    df = raw_eia923__byproduct_disposition

    cols_to_drop = [
        "early_release",
    ]
    df = df.drop(cols_to_drop, axis=1)
    df = (
        pudl.helpers.fix_eia_na(df)
        .pipe(pudl.helpers.fix_boolean_columns, ["byproducts_to_report"])
    )
    df = df.dropna(subset=["byproduct_description"])

    # Convert 1000 tons to tons
    df.loc[:, df.columns.str.endswith("_1000_tons")] *= 1000
    # This column is not converted when the unit is MMBtu, which is determined from byproduct_description
    df['sold_1000_tons_or_mmbtu'] = np.where(df['byproduct_description'] != 'Steam Sales (MMBtu)', df['sold_1000_tons_or_mmbtu'] * 1000, df['sold_1000_tons_or_mmbtu'])
    df.columns = df.columns.str.replace("_1000_tons", "_tons")
    
    df = PUDL_PACKAGE.encode(df)

    return df

In [ ]:
clean_df = _core_eia923__byproduct_disposition(df)

In [ ]:
clean_df

In [ ]:
len(clean_df)

In [ ]:
value_cols = [
    'disposal_landfill_1000_tons', 'disposal_offsite_1000_tons', 'disposal_ponds_1000_tons', 'sold_1000_tons_or_mmbtu',
    'stored_offsite_1000_tons', 'stored_onsite_1000_tons', 'total_disposal_1000_tons', 'used_offsite_1000_tons', 'used_onsite_1000_tons',
]
df['has_byproduct'] = df[value_cols].notna().any(axis=1)
(
    df
    .groupby(['plant_id_eia', 'report_year', 'byproducts_to_report'])['has_byproduct']
    .any()
    .reset_index()
    .drop(columns=['report_year'])
    .groupby(['byproducts_to_report', 'has_byproduct'])
    .count()
)

In [ ]:
clean_df[['plant_id_eia']].nunique()

### Scratch Visualizations

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
def plot_bar(df, x, y):
    avg_df = df.groupby(x)[y].mean().reset_index()
    plt.bar(avg_df[x], avg_df[y])
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
plot_bar(clean_df, "report_year", "disposal_offsite_1000_tons")

In [ ]:
plot_bar(clean_df, "report_year", "sold_1000_tons_or_mmbtu")

In [ ]:
plot_bar(clean_df, "byproduct_description", "used_onsite_tons")

In [ ]:
clean_df

In [ ]:
numeric_cols = clean_df.select_dtypes(include='number').columns
null_summary = (
    clean_df \
        .groupby("byproduct_description")[numeric_cols] \
        .apply(lambda x: x.isnull().sum()) \
        .reset_index()
)