In [1]:
import sys
import os
import numpy as np
import pandas as pd
import sqlalchemy as sa
sys.path.append(os.path.abspath(os.path.join('..','..','..')))
from pudl import pudl, ferc1, eia923, settings, constants
from pudl import models, models_ferc1, models_eia923
from pudl import clean_eia923, clean_ferc1, clean_pudl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pudl_engine  = pudl.db_connect_pudl()

In [7]:
#Pull in the boiler table
b_tbl = models.PUDLBase.metadata.tables['boiler_fuel_eia923']
b_select = sa.sql.select([b_tbl,]) #creates a sql Select object
b = pd.read_sql(b_select, pudl_engine) #converts sql object to pandas dataframe

In [8]:
b['fuel_consumed_mmbtu'] = b['fuel_qty_consumed']*b['fuel_mmbtu_per_unit']

In [59]:
b = b.set_index(pd.DatetimeIndex(b['report_date']))
b_gb = b.groupby(by=['plant_id',pd.TimeGrouper(freq='A'),'boiler_id'])
b_summed = b_gb.agg({'fuel_consumed_mmbtu':np.sum})

In [60]:
b_summed.reset_index(inplace=True)

In [61]:
#Pull in the boiler_generator_assn table
bga_tbl = models.PUDLBase.metadata.tables['boiler_generator_assn_eia860']
bga_select = sa.sql.select([bga_tbl,]) #creates a sql Select object
bga = pd.read_sql(bga_select, pudl_engine) #converts sql object to pandas dataframe

In [67]:
bg = b_summed.merge(bga,how='left',on=['plant_id','boiler_id'])

In [68]:
bg.drop(['id','operator_id'],axis=1, inplace=True)

In [69]:
bg = bg.set_index(pd.DatetimeIndex(bg['report_date']))
bg_gb = bg.groupby(by=['plant_id',pd.TimeGrouper(freq='A'),'generator_id'])
bg_summed = bg_gb.agg({'fuel_consumed_mmbtu':np.sum})

In [70]:
bg_summed.reset_index(inplace=True)

In [34]:
#Pull in the generation table
g_tbl = models.PUDLBase.metadata.tables['generation_eia923']
g_select = sa.sql.select([g_tbl,]) #creates a sql Select object
g = pd.read_sql(g_select, pudl_engine) #converts sql object to pandas dataframe

In [37]:
g = g.set_index(pd.DatetimeIndex(g['report_date']))
g_gb = g.groupby(by=['plant_id',pd.TimeGrouper(freq='A'),'generator_id'])
g_summed = g_gb.agg({'net_generation_mwh':np.sum})

In [42]:
g_summed.reset_index(inplace=True)

In [71]:
heat_rate = bg_summed.merge(g_summed,how='left',on=['plant_id', 'report_date', 'generator_id'])

In [72]:
heat_rate['heat_rate_mmbtu_mwh'] = heat_rate['fuel_consumed_mmbtu'] / heat_rate['net_generation_mwh']

In [73]:
heat_rate

,plant_id,report_date,generator_id,fuel_consumed_mmbtu,net_generation_mwh,heat_rate_mmbtu_mwh
0,3,2009-12-31,1,4.564270e+06,221908.000,20.568299
1,3,2009-12-31,2,8.094252e+06,394031.000,20.542171
2,3,2009-12-31,3,2.613198e+07,1286393.000,20.314146
3,3,2009-12-31,4,3.232146e+07,1626547.000,19.871212
4,3,2009-12-31,5,8.941819e+07,4513101.000,19.813027
5,3,2009-12-31,A1ST,1.760776e+05,1122697.000,0.156834
6,3,2009-12-31,A2ST,1.373917e+05,1033733.000,0.132908
7,3,2010-12-31,1,9.048664e+06,435334.000,20.785567
8,3,2010-12-31,2,1.144207e+07,538495.000,21.248231
9,3,2010-12-31,3,1.914051e+07,906322.000,21.118888
10,3,2010-12-31,4,3.788516e+07,1873386.000,20.222825
11,3,2010-12-31,5,8.114587e+07,4080795.000,19.884818
12,3,2010-12-31,A1ST,2.342127e+05,1310126.000,0.178771
13,3,2010-12-31,A2ST,1.748983e+05,1295497.000,0.135005
14,3,2011-12-31,1,7.130630e+06,312130.000,22.845065
15,3,2011-12-31,2,4.572941e+06,191475.000,23.882708
16,3,2011-12-31,3,1.502996e+07,710069.000,21.166900
17,3,2011-12-31,4,2.393865e+07,1175685.000,20.361445
18,3,2011-12-31,5,4.611200e+07,2264413.000,20.363777
19,3,2011-12-31,A1ST,4.024245e+05,1397495.000,0.287961
20,3,2011-12-31,A2ST,3.467116e+05,1381781.000,0.250916
21,3,2012-12-31,1,3.486280e+06,152102.000,22.920672
22,3,2012-12-31,2,2.987908e+06,123410.000,24.211231
23,3,2012-12-31,3,1.056941e+07,496557.000,21.285395
24,3,2012-12-31,4,2.353924e+07,1142699.000,20.599688
25,3,2012-12-31,5,6.858519e+07,3404379.000,20.146167
26,3,2012-12-31,A1ST,2.525639e+05,1415104.000,0.178477
27,3,2012-12-31,A2ST,3.998514e+05,1435969.000,0.278454
28,3,2013-12-31,1,7.619753e+05,30627.000,24.879200
29,3,2013-12-31,2,1.852421e+06,73425.000,25.228750
...,...,...,...,...,...,...
23393,58706,2014-12-31,GEN1,3.703911e+06,118668.000,31.212386
23394,58706,2015-12-31,GEN1,5.347559e+06,161474.000,33.117149
23395,58707,2013-12-31,GEN1,1.874496e+05,5789.000,32.380307
23396,58707,2014-12-31,GEN1,4.264952e+06,124136.000,34.357095
23397,58707,2015-12-31,GEN1,5.214286e+06,157156.000,33.179045
23398,58944,2014-12-31,G1,2.743366e+05,18397.000,14.912031
23399,58944,2015-12-31,G1,1.820596e+06,124662.000,14.604256
23400,58944,2016-12-31,G1,3.367244e+05,18752.000,17.956719
23401,59254,2013-12-31,GENS1,0.000000e+00,9624.340,0.000000
23402,59254,2014-12-31,GENS1,0.000000e+00,51456.560,0.000000
23403,59254,2015-12-31,GENS1,0.000000e+00,52169.510,0.000000
23404,59254,2016-12-31,GENS1,0.000000e+00,57455.040,0.000000
23405,59338,2013-12-31,ST10,0.000000e+00,379955.000,0.000000
23406,59338,2013-12-31,ST9,0.000000e+00,424463.000,0.000000
23407,59338,2015-12-31,ST10,0.000000e+00,442976.000,0.000000
23408,59338,2015-12-31,ST9,0.000000e+00,363287.000,0.000000
23409,59338,2016-12-31,ST10,0.000000e+00,339927.000,0.000000
23410,59338,2016-12-31,ST9,1.119772e+03,319721.000,0.003502
23411,59658,2015-12-31,GEN1,8.504300e+05,35466.000,23.978739
23412,59784,2014-12-31,ST11,0.000000e+00,384.000,0.000000
23413,59784,2015-12-31,ST11,0.000000e+00,866090.000,0.000000
23414,59784,2016-12-31,ST11,0.000000e+00,958134.000,0.000000
23415,59884,2014-12-31,STG-1,4.366541e+05,0.000,inf
23416,59884,2014-12-31,STG-2,4.366541e+05,1835.000,237.958627
23417,59884,2015-12-31,STG-1,1.379887e+05,0.000,inf
23418,59884,2015-12-31,STG-2,1.379887e+05,0.000,inf
23419,60084,2015-12-31,TG1,3.947315e+06,38892.542,101.492841
23420,60084,2015-12-31,TG2,3.947315e+06,25675.617,153.737866
23421,60084,2015-12-31,TG3,7.538666e+06,251486.735,29.976395
23422,60100,2015-12-31,G-1,7.731164e+05,42881.000,18.029346